{% extends 'base.html.twig' %}

{% block title 'Accueil | ' ~ parent() %}

{% block body %}

<main class="homepage">
    <section>
        <div class="hero section-wrapper">
            <div class="hero-txt">
                <div class="title">
                    Do
                    What
                    <strong>
                        You
                    </strong>
                    Can't
                </div>
                <div class="main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="links">
                    <a href="{{ path('new_products') }}" class="btn-primary btn-big">Voir les nouveautés</a>
                    <a href="#partners" class="btn-primary-outlined btn-big">Nos partenaires</a>
                </div>
            </div>

            <div class="hero-img">
                <img src="{{ asset('/images/products/phones.png') }}"  alt="">
            </div>
        </div>
    </section>

    <section class="background-light">
        <div class="section-wrapper inversed">
            <div class="img">
                <img src="{{ asset('/images/products/phone.png') }}"  alt="">
            </div>
            <div class="txt">
                <div class="title">
                    <strong>Choisissez</strong>
                    un mobile
                    <strong class="red">
                        Puissant
                    </strong>
                </div>
                <div class="main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="links">
                    <a href="#" class="btn-primary btn-big">Voir les offres mobiles</a>
                </div>
            </div>

        </div>
    </section>

    <section>

    <div class="section-wrapper">
            <div class="txt">
                <div class="title">
                    <strong>Améliorez</strong>
                    vos
                    <strong class="red">
                        Performances
                    </strong>
                </div>
                <div class="main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>

                <div class="links">
                    <a href="#" class="btn-primary btn-big">Voir nos composants</a>
                </div>
            </div>
            <div class="img">
                <img src="{{ asset('/images/products/driver.png') }}"  alt="">
            </div>

        </div>

    </section>

    <section class="background-light">
        <div class="section-wrapper inversed">
            <div class="img">
                <img src="{{ asset('/images/products/watch.jpg') }}"  alt="" style="border-radius: 15px; height: 300px ">
            </div>
            <div class="txt">
                <div class="title" style="width: fit-content; margin: auto;">
                    <strong>Osez</strong>
                    le
                    Style
                </div>
                <div class="main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>

                <div class="links">
                    <a href="#" class="btn-primary btn-big">Voir nos designs</a>
                </div>
            </div>

        </div>
    </section>

    <section class="" id="partners">
        <div class="title">
            Nos <strong>Partenaires</strong>
        </div>
        <div class="cards-wrapper">

                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/ibm.png") }}" alt="">
                        </div>
                        <div class="name">
                            IBM
                        </div>
                    </div>
                </div>
                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/microsoft.png") }}" alt="">
                        </div>
                        <div class="name">
                            Microsoft
                        </div>
                    </div>
                </div>
                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/cisco.png") }}" alt="">
                        </div>
                        <div class="name">
                            Cisco
                        </div>
                    </div>
                </div>
                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/google.png") }}" alt="">
                        </div>
                        <div class="name">
                            Google
                        </div>
                    </div>
                </div>
                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/apple.png") }}" alt="">
                        </div>
                        <div class="name">
                            Apple
                        </div>
                    </div>
                </div>
                <div class="partner-card card ">
                    <div class="card-body">
                        <a href="" class="card-link"></a>
                        <div class="logo">
                            <img src="{{ asset("/images/partners/android.png") }}" alt="">
                        </div>
                        <div class="name">
                            Android
                        </div>
                    </div>
                </div>
            <div class="partner-card card ">
                <div class="card-body">
                    <a href="" class="card-link"></a>
                    <div class="logo">
                        <img src="{{ asset("/images/partners/xbox.png") }}" alt="">
                    </div>
                    <div class="name">
                        XBox
                    </div>
                </div>
            </div>
            <div class="partner-card card ">
                <div class="card-body">
                    <a href="" class="card-link"></a>
                    <div class="logo">
                        <img src="{{ asset("/images/partners/fb.png") }}" alt="">
                    </div>
                    <div class="name">
                        Facebook
                    </div>
                </div>
            </div>
            <div class="partner-card card ">
                <div class="card-body">
                    <a href="" class="card-link"></a>
                    <div class="logo">
                        <img src="{{ asset("/images/partners/hp.png") }}" alt="">
                    </div>
                    <div class="name">
                        HP
                    </div>
                </div>
            </div>
            <div class="partner-card card ">
                <div class="card-body">
                    <a href="" class="card-link"></a>
                    <div class="logo">
                        <img src="{{ asset("/images/partners/discord.png") }}" alt="">
                    </div>
                    <div class="name">
                        Discord
                    </div>
                </div>
            </div>






        </div>

    </section>

</main>

{% endblock %}
