<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Samsung{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicons/Favicon.png') }}" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="header" id="header">
                <ul class="header-nav">
                    <li class="header-homepage"><a href="{{ path('home')}}" ><i class='bx bx-home' ></i> Accueil</a></li>
                    <li><a href=""><i class='bx bx-news'></i> Nouveautés</a></li>
                    <li><a href=""><i class='bx bx-mobile'></i> Mobiles</a></li>
                    <li><a href=""><i class='bx bx-tv'></i> TV & Audio</a></li>
                    <li><a href=""><i class='bx bxs-keyboard'></i> Informatique </a></li>
                    <li><a href=""><i class='bx bxs-offer'></i> Offres </a></li>

                </ul>
                <ul class="header-side">
                        <li class="contact"><a href="#"><i class='bx bxs-chat'></i>Nous contacter</a></li>
                    <li class="burger">
                        <button id="burger"><span>Afficher le menu</span></button>
                    </li>
                </ul>
            </nav>


            {% block body %}{% endblock %}


        </div>
        <script>
            let burgerBtn = document.querySelector('#burger');
            let header = document.querySelector('#header');
            burgerBtn.onclick = function (){
                header.classList.toggle('is-open');
            }
        </script>
    </body>
</html>

